.header {
    /* Sticky action bar */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--spacingHorizontalS);
    margin: 0 0 var(--spacingHorizontalS) 0;
    font-size: var(--fontSizeBase400);

    position: sticky;
    top: 0;
    background: var(--colorNeutralBackground1);
    border-bottom: 1px solid var(--colorNeutralStroke1);
    z-index: 2;
}

.drawer {
    /* Convert to a flex column layout */
    display: flex;
    flex-direction: column;
    width: calc(var(--sidebarWidth, 340px) - 2em);
    max-height: 100vh; /* allow internal scrolling area below */
}

@media (max-width: 650px) {
    .drawer {
        width: 100%;
        max-height: none;
    }
}

.drawerContent {
    /* Scrollable content area */
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;

    min-height: 0; /* required for flex children to allow scrolling */
    padding-bottom: 30px;
    border-bottom: 1px solid var(--colorNeutralStroke1);
}
