.header {
    margin-bottom: 5px;
    font-size: var(--fontSizeBase400);
    margin-top: var(--spacingVerticalS);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: var(--spacingHorizontalS);
    margin-bottom: var(--spacingHorizontalS);
    border-bottom: 1px dotted var(--colorBrandBackground2);
}
.drawer {
    width: calc(var(--sidebarWidth)-2em);
}

@media (max-width: 650px) {
    .drawer {
        width: 100%;
    }
}

.actionRow {
    display: flex;
    gap: var(--spacingHorizontalS, 8px);
    padding: var(--spacingVerticalM, 12px) var(--spacingHorizontalL, 16px);
}

.drawerContent {
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    height: calc(100vh - 170px);
    margin-bottom: 30px;
    border-bottom: 1px dotted var(--colorBrandBackground2);
}
