.header {
    font-size: var(--fontSizeBase400);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: var(--spacingHorizontalS);
    border-bottom: 1px dotted var(--primaryContainer);
}
.drawer {
    width: calc(var(--sidebarWidth)-2em);
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 650px) {
    .drawer {
        width: 100%;
        margin-top: 40px;
        border-bottom: 1px dotted var(--primaryContainer);
    }
}

.actionRow {
    display: flex;
    gap: var(--spacingHorizontalS, 8px);
    padding: var(--spacingVerticalM, 12px) var(--spacingHorizontalL, 16px);
}

.drawerContent {
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    height: 100%;
}
