.container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: var(--colorNeutralForeground1);
    text-decoration: none;
}

.buttonContainer:hover {
    background-color: var(--colorNeutralBackground2Hover);
}

.helpIcon {
    color: var(--colorNeutralForeground1);
}

.helpText {
    font-size: 14px;
    font-weight: 500;
    margin-left: 4px;
}
