.helpButton {
    color: var(--colorNeutralForeground1) !important;
}

.helpButton:hover {
    background-color: var(--colorNeutralBackground2Hover) !important;
}

.icon {
    color: var(--colorNeutralForeground1) !important;
}
