.message {
    padding: 1.25em;
    margin: 0 0 4px;
    background: var(--colorNeutralBackground3);
    color: var(--colorNeutralForeground1);
    border-radius: var(--borderRadiusLarge);
    overflow-x: auto;
    max-width: 100%; /* Ensure it doesn't overflow container */
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--colorNeutralStroke1);
}

.answerText {
    white-space: pre-wrap;
    font-size: var(--fontSizeBase300);
    line-height: 1.35;
    width: 100%; /* Use full width */
    overflow-x: auto;
    margin-top: 8px;
}

.messageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 24px;
}

.rollbackButton {
    min-width: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
}

.answerText :where(p, ul, ol, blockquote) {
    margin-block: 0.45em;
}

.answerText :where(p:first-child, ul:first-child, ol:first-child, blockquote:first-child) {
    margin-top: 0;
}

.answerText :where(p:last-child, ul:last-child, ol:last-child, blockquote:last-child) {
    margin-bottom: 0;
}

.iconRightMargin {
    margin-right: 5 px;
}
