.diagramContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.downloadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}
