.themeButton {
    color: var(--surface) !important;
}

.themeButton:hover {
    background-color: var(--primary) !important;
    color: var(--onPrimary) !important;
}

.themeButton:hover .icon {
    color: var(--onPrimary) !important;
}

.icon {
    color: var(--surface);
}
