.themeButton {
    color: var(--app-header-foreground) !important;
}

.themeButton:hover {
    background-color: var(--app-header-hover) !important;
}

.icon {
    color: var(--app-header-foreground);
}