.header {
    margin-bottom: 5px;
    font-size: var(--fontSizeBase400);
    margin-top: var(--spacingVerticalS);
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: var(--spacingHorizontalS);
    margin-bottom: var(--spacingHorizontalS);
    border-bottom: 1px dotted var(--colorBrandBackground2);
}

.bodyContainer {
    padding-bottom: var(--spacingVerticalS);
    padding-left: var(--spacingVerticalM);
}

.iconRightMargin {
    margin-right: 5px;
}

.temperatureLabel {
    margin-right: 10px;
}
.markdownDescription {
    max-width: calc(var(--sidebarWidth) - 20px);
}

.markdownDescription code {
    white-space: wrap;
}

.verticalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.systemPromptHeadingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.systempromptTextArea {
    line-height: var(--lineHeightBase400);
    font-size: var(--fontSizeBase400);
}

.iconRightMargin {
    margin-right: 5 px;
}

.actionRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-bottom: var(--spacingVerticalS);
}
.dialog {
    width: 100%; /* Breite übernimmt die des Containers (z.B. Dropdown) */
    height: auto; /* Keine maximale Höhe */
    overflow: visible; /* Keine Scrollbar */
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute; /* Für freie Platzierung */
    z-index: 1000;
    left: 0; /* Optional: Positionierung anpassen */
    top: 100%; /* Optional: direkt unter dem Dropdown */
}
