.container {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-right: 1em;
    margin-left: 1em;
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin: 1em;
    text-align: center;
}

@media (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }
    .commandsContainer {
        flex-direction: column;
        display: flex;
    }
    .chatRoot {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.chatMessageStream {
    flex-grow: 1;
    overflow-y: auto;
    margin-left: 1em;
    margin-right: 3em;
    display: flex;
    flex-direction: column;
    list-style: none;
    min-width: 50%;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 60%;
}

.chatMessageGptMinWidth {
    max-width: 50%;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    position: fixed;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/* Styles für den Container */
.create_container {
    justify-content: space-between;
    max-width: 60%;
    max-height: 60%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

/* Styles für den Button */
.Button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Button:hover {
    background-color: #0056b3;
}

.create_button {
    margin-top: 20;
    align-self: center;
}
.systempromptTextArea {
    width: 95%;
    max-width: 95%;
    height: 50%;
    max-height: 80%;
}

.backButton {
    left: 20;
}

.saveButton {
    right: 20;
}
.field {
    max-width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
