.feedbackButton {
    color: var(--colorNeutralForeground1) !important;
}

.feedbackButton:hover {
    background-color: var(--colorNeutralStroke2) !important;
}

.icon {
    color: var(--colorNeutralForeground1) !important;
}
