.container {
    display: flex;
    align-items: center;
}

.button {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background: var(--primary) !important;
    color: var(--onPrimary) !important;
    border: none !important;
    border-radius: 8px !important;
}

.button:hover {
    opacity: 0.9;
}

.iconLeftMargin {
    margin-left: 5px;
}
