.container {
    display: flex;
    align-items: center;
}

.button {
    background: var(--primary) !important;
    color: var(--onPrimary) !important;
    border: none !important;
    border-radius: 8px !important;
}

.button:hover {
    opacity: 0.9;
}

.iconLeftMargin {
    margin-left: 5px;
}
