.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: var(--colorNeutralBackground1Hover);
    text-decoration: none;
    width: 20%;
    left: 1em;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 00;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 60%;
}

.headerNavPageLink {
    color: var(--colorNeutralForegroundInvertedSelected);
    font-size: var(--fontSizeHero800);
}

.headerNavRightMargin {
    margin-right: 20px;
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.logo {
    height: 40px;
    padding: 2px;
    margin-left: 1em;
}
.SettingsDrawer {
    right: 0;
    margin: auto;
    margin-right: 0;
    margin-bottom: 0;
    margin: auto;
    align-self: flex-end;
    width: auto;
    display: flex;
    max-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--colorBrandBackground2);
    height: 50px;
    z-index: 2;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: space-between;
    background-color: var(--colorBrandBackground2);
    color: var(--colorNeutralBackground1);
    padding: 5px;
}
