.dialog {
    background-color: white;
    padding: 0 !important;
    min-width: 1100px;
    line-height: 1.5;
}

@media (max-width: 650px) {
    .dialog {
        min-width: 400px;
    }
}

.dialogContent {
    background-color: white;
    padding: 20px;
}

.checkIcon {
    color: green;
}

li:not(:last-child) {
    margin-bottom: 5px;
}
.responsibleContainer {
    font-style: italic;
    padding-bottom: 10px;
}
