.card {
    height: 100%;
    pointer-events: none;
}

.skeleton {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
}

.description {
    display: flex;
    flex-direction: column;
    gap: var(--spacingVerticalXXS);
    margin-top: var(--spacingVerticalS);
}

.metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-top: auto;
    padding-top: var(--spacingVerticalM);
}
