.card {
    border-radius: 8px;
    min-height: 140px;
    border: 1px solid var(--primary);
    transition: all 0.2s ease;
    background-color: var(--colorNeutralBackground1);
}

.cardSelected {
    border: 2px solid var(--primary) !important;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow8);
    background-color: var(--colorNeutralBackground1);
}

.card:hover .headerText {
    color: var(--primary);
}

.headerText {
    font-weight: var(--fontWeightSemibold);
    font-size: var(--fontSizeBase400);
    color: var(--colorNeutralForeground1);
    transition-property: color;
    transition-duration: 0.2s;
    padding-top: 12px;
}

.description {
    font-size: var(--fontSizeBase200);
    color: var(--colorNeutralForeground2);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-word;
    padding: 0 12px 0;
}
