.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 90em;
    padding-left: 10em;
}
.panel {
    margin-left: 2em;
}
.header {
    font-weight: 600;
    margin: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commandsContainer {
    position: fixed;
    display: flex;
    justify-content: end;
}

.faqRoot {
    flex: 1;
    display: flex;
    flex-direction: column;
}
