.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.header {
    font-weight: 600;
    margin: 1em;
    text-align:center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
}