azure-identity==1.15.0
quart==0.19.6
langchain==0.1.20
langchain_openai 
tiktoken
uvicorn[standard]==0.24.0.post1
aiohttp==3.9.4
azure-monitor-opentelemetry==1.0.0b15
opentelemetry-instrumentation-asgi==0.40b0
opentelemetry-instrumentation-requests==0.40b0
opentelemetry-instrumentation-aiohttp-client==0.40b0
werkzeug==3.0.3
joserfc
requests
sqlalchemy==2.0.19
psycopg2==2.9.9
pypdf2==3.0.1
tenacity==8.2.3