.title {
    margin-bottom: 5px;
    font-size: var(--fontSizeHero700);
    margin-top: var(--spacingVerticalS);
    display: flex;
    justify-content: space-between;
}

.header {
    margin-bottom: 5px;
    font-size: var(--fontSizeBase400);
    margin-top: var(--spacingVerticalS);
}

.bodyContainer {
    padding-bottom: var(--spacingVerticalS);
    padding-left: var(--spacingVerticalM);
}

.iconRightMargin {
    margin-right: 5px;
}

.temperatureLabel {
    margin-right: 10px;
}

.faq {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
}

.verticalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.systemPromptHeadingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.systempromptTextArea {
    line-height: var(--lineHeightBase400);
    font-size: var(--fontSizeBase400);
}

.system_prompt_warining_icon {
    color: red;
}
