.container {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-right: 1em;
    margin-left: 1em;
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
    padding-top: 40px;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin: 1em;
    text-align: center;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }
    .commandsContainer {
        align-self: center;
    }

    .chatRoot {
        flex-direction: column-reverse;
        align-items: center;
    }
}
.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    overflow-y: auto;
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 50%;
}

.chatMessageGptMinWidth {
    max-width: 50%;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
