.tutorialsButton {
    color: var(--app-header-foreground) !important;
}

.tutorialsButton:hover {
    background-color: var(--app-header-hover) !important;
}

.icon {
    color: var(--app-header-foreground);
}
