.tutorialsButton {
    background-color: var(--theme-header-background) !important;
    color: var(--theme-text-on-primary) !important;
    border-color: transparent !important;
}

.tutorialsButton:hover {
    background-color: var(--theme-header-hover) !important;
    color: var(--theme-text-on-primary) !important;
}

.tutorialsButton:active {
    background-color: var(--theme-header-pressed) !important;
    color: var(--theme-text-on-primary) !important;
}

.icon {
    color: var(--theme-text-on-primary);
}
