.questionInputContainer {
    border-radius: 8px;
    box-shadow:
        0px 8px 16px rgba(0, 0, 0, 0.14),
        0px 0px 2px rgba(0, 0, 0, 0.12);
    height: auto;
    width: 100%;
    padding: 10px;
    background: var(--colorNeutralBackground2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.documentContainer {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.questionInputTextArea {
    border-style: dashed;
    border-width: 0.3px;
}

.paddingDocumentName {
    padding-right: 20px;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.questionInputContainerFooter {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--fontSizeBase100);
    line-height: var(--lineHeightBase100);
}
