.mindmapContainer {
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
    background: var(--colorNeutralBackground1Hover);
    box-shadow:
        0px 2px 4px var(--colorBrandForeground2),
        0px 0px 2px var(--colorBrandForeground2);
    border: transparent solid 1px;
    height: 100%;
}

.mindmapContainer:hover {
    border-left: 1px solid rgb(0, 0, 0);
}

.svgMark {
    min-height: 400px;
    min-width: 700px;
}

.iconRightMargin {
    margin-right: 5 px;
}

.answerText {
    white-space: pre-wrap;
    font-size: var(--fontSizeBase400);
}

@media (max-width: 780px) {
    .svgMark {
        min-width: 50px;
        max-width: 300px;
        min-height: 0px;
    }
    .mindmapContainer {
        padding: 0px;
        min-width: 50px;
        max-width: 300px;
    }
}
