.chatMessageStream {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.chatMessageUser {
    min-width: 50%;
    max-width: 90%;
    align-self: flex-end;
}

.chatMessageGpt {
    width: 98%;
    align-self: flex-start;
    background-color: var(--colorNeutralBackground3);
    border: 1px solid var(--colorNeutralStroke1);
    border-radius: 8px;
    border-top-left-radius:
    border-bottom-right-radius: 20px;
}

@media (max-width: 650px) {
    .chatMessageUser {
        width: 100%;
        align-self: flex-end;
    }

    .chatMessageGpt {
        width: 100%;
        align-self: flex-start;
    }
}
