.chatMessageStream {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.chatMessageUser {
    min-width: 50%;
    max-width: 90%;
    align-self: flex-end;
}

.chatMessageGpt {
    width: 98%;
    align-self: flex-start;
}

@media (max-width: 650px) {
    .chatMessageUser {
        width: 100%;
        align-self: flex-end;
    }

    .chatMessageGpt {
        width: 100%;
        align-self: flex-start;
    }
}
