.versionDetailsTitle {
    padding: var(--spacingVerticalXS) var(--spacingHorizontalSNudge);
}

.versionTable {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    padding: 0 var(--spacingHorizontalSNudge) var(--spacingVerticalXS);
}

.versionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacingHorizontalXL);
    padding: var(--spacingVerticalXXS) 0;
}

.versionServiceName {
    color: var(--colorNeutralForeground2);
}
