.sumanswerContainer {
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
    background: var(--colorNeutralBackground1Hover);
    box-shadow:
        0px 2px 4px var(--colorBrandForeground2),
        0px 0px 2px var(--colorBrandForeground2);
    border: transparent solid 1px;
    height: 100%;
    max-width: 100%;
}

.sumanswerContainer:hover {
    border-left: 1px solid rgb(0, 0, 0);
}

.answerText {
    white-space: pre-wrap;
    font-size: var(--fontSizeBase400);
    max-width: 90%;
    overflow-x: auto;
}

.sumanswerHeader {
    margin: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}
