.button {
    margin-left: 0px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.savedChatButton {
    width: 80%;
    align-items: center;
}

.singlechatcontainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: var(--spacingVerticalL);
}
.header {
    margin-bottom: 5px;
    font-size: var(--fontSizeBase400);
    margin-top: var(--spacingVerticalS);
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.historyContent {
    margin-left: var(--spacingVerticalL);
    padding-bottom: var(--spacingVertialL);
}
