.button {
    margin-left: 0px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.iconRightMargin {
    margin-right: 5 px;
}

.savedChatButton {
    width: 80%;
    align-items: center;
}
