.answerContainer {
    padding: 1em;
    margin: 1em;
    background: var(--colorNeutralBackground1Hover);
    border-radius: 8px;
    box-shadow:
        0px 2px 4px var(--colorBrandForeground2),
        0px 0px 2px var(--colorBrandForeground2);
    border: transparent solid 1px;
}

.answerContainer:hover {
    border-left: 1px solid rgb(0, 0, 0);
}

.iconRightMargin {
    margin-right: 5 px;
}

.answerLogo {
    font-size: 28px;
}

.answerText {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: var(--fontSizeBase400);
    overflow-x: auto;
}

.answerText table {
    border-collapse: collapse;
}

.answerText td,
.answerText th {
    border: 1px solid;
    padding: 5px;
}

@keyframes loading {
    0% {
        content: ".";
        transform: translateY(0);
    }
    25% {
        content: ".💡";
        transform: translateY(-10px);
    }
    50% {
        content: "..💡";
        transform: translateY(-20px);
    }
    75% {
        content: "...💡";
        transform: translateY(-30px);
    }
    100% {
        content: "....💡";
        transform: translateY(0);
    }
}

.loadingdots::after {
    content: "";
    animation: loading 1s infinite;
}

.unformattedAnswer {
    white-space: pre-wrap;
}

.growItem {
    min-width: 50%;
    overflow-x: auto;
}
