.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: var(--colorNeutralBackground1Hover);
    text-decoration: none;
    width: 20%;
    left: 1em;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 00;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 60%;
}

.headerNavPageLink {
    color: var(--colorNeutralBackround1Hover);
    text-decoration: none;
    opacity: 0.75;
    font-size: var(--fontSizeBase600);

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
    display: none;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: var(--colorNeutralForegroundInvertedSelected);
    font-size: var(--fontSizeHero800);
    text-decoration: none;
}

.headerNavLeftMargin {
    font-size: var(--fontSizeBase600);
}

.headerNavRightMargin {
    margin-right: 20px;
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.logo {
    height: 50px;
    padding: 2px;
    margin-left: 1em;
}
.SettingsDrawer {
    right: 0;
    margin: auto;
    margin-right: 0;
    margin-bottom: 0;
    margin: auto;
    align-self: flex-end;
    width: auto;
    display: flex;
}

.header {
    display: flex;
}
