.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.panel {
    margin-left: 2em;
}

.header {
    font-weight: 600;
    margin: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commandsContainer {
    position: fixed;
    display: flex;
    justify-content: end;
}

.versionRoot {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 3em;
}
