.divider {
    margin-bottom: 12px;
}
.item {
    width: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    flex-direction: row;
}

@media (max-width: 650px) {
    .buttons {
        flex-direction: column;
    }
}
