.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.micButton {
    width: 36px;
    min-width: 36px !important;
    height: 36px !important;
}

.micButton.busy {
    opacity: 0.6;
}
